<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Nová zpráva z webu od:</h3>
    <p> jméno <%= @name %></p>
    <p> telefon <%= @phone%></p>
    <p> email <%= @email%></p>
    <p> text zprávy <%= @text %></p>
  </body>
</html>
