<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Přišla nová objednávka</h4>
    <p>Číslo objednávky <%=@order.id %> ze dne <%= @order.created_at %>.
    <p>Byla vytvořena nová objednávka</p>
    <p>Automatický email penzionu</p>
  </body>
</html>
