<%= render :partial => "welcome/container_header",:locals => {:nazev => 'Fotogalerie'} -%>
<div class="row">
<% @images.each do |image| %>
   <div class="col-md-3 img-portfolio">
        <img class="img-responsive img-hover" src="<%= "#{image.picture.url}" %>" alt="">
    </div>
<% end %>
</div>            