<%= render :partial => "welcome/container_header",:locals => {:nazev => 'Fotogalerie'} -%>
<div class="row">
   <div class="col-md-6 img-portfolio">
        <img class="img-responsive img-hover" src="/pictures/picture_1.jpg" alt="">
        
    </div>
    <div class="col-md-6 img-portfolio">
        <img class="img-responsive img-hover" src="/pictures/picture_2.jpg" alt="">
    </div>
     <div class="col-md-6 img-portfolio">
        <img class="img-responsive img-hover" src="/pictures/picture_3.jpg" alt="">
    </div>
     <div class="col-md-6 img-portfolio">
        <img class="img-responsive img-hover" src="/pictures/picture_4.jpg" alt="">
    </div>
            
</div>            