// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#licence {
	 max-height:200px;
 margin: 20px auto;
 overflow: auto;
 padding: 20px 20px 20px 20px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

#licence > p {
	font-size: 12px;
}
#licence > ol {
	font-size: 12px;
}



